* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.review .box-container, .products .box-container, .home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

:root {
  --pink: #e84393;
  --grey1: #333;
  --grey2:#666;
  --main-pad: 2rem 9%;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

section {
  padding: 2rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background-color: #333;
  color: #fff;
  padding: 0.9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background-color: var(--pink);
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 1rem;
  background: rgba(255, 51, 153, 0.1);
}
.heading span {
  color: var(--pink);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: var(--main-pad);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}
header .logo {
  font-size: 3rem;
  color: var(--grey1);
  font-weight: bolder;
}
header .logo span {
  color: var(--pink);
}
header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: var(--grey2);
}
header .navbar a:hover {
  color: var(--pink);
}
header .icons a {
  font-size: 2.5rem;
  color: var(--grey1);
  margin-left: 1.5rem;
}
header .icons a:hover {
  color: var(--pink);
}
header #toggler {
  display: none;
}
header .fa-bars {
  font-size: 3rem;
  line-height: 1;
  padding: 0.5rem 1.5rem;
  color: var(--grey1);
  border-radius: 0.5rem;
  cursor: pointer;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  display: none;
}

.home {
  min-height: 100vh;
  background: rgba(11, 9, 9, 0.8) url("images/images.jpg") no-repeat center center fixed;
  background-size: cover;
}
.home .content {
  max-width: 50rem;
}
.home .content h3 {
  font-size: 6rem;
  color: var(--grey1);
}
.home .content span {
  font-size: 3.5rem;
  line-height: 1.5;
  padding: 1rem 0;
  color: var(--pink);
}
.home .content p {
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 1rem 0;
  color: #999;
}

.about .row {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
}
.about .row .video-container {
  flex: 1 1 40rem;
  position: relative;
}
.about .row .video-container video {
  box-shadow: var(--box-shadow);
  width: 100%;
  border: 1.5rem solid #fff;
  border-radius: 0.5rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .row .video-container h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  line-height: 1;
  padding: 1rem 2rem;
  background: #fff;
  width: 100%;
  text-align: center;
  mix-blend-mode: screen;
}
.about .row .content {
  flex: 1 1 40rem;
}
.about .row .content h3 {
  font-size: 3rem;
  color: var(--grey1);
}
.about .row .content p {
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 0.5rem 0;
  color: #999;
  padding-top: 1rem;
}

.icons-container {
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 5rem 0 5rem 0;
}
.icons-container .icons {
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  align-items: center;
  flex: 1 1 25rem;
}
.icons-container .icons i {
  font-size: 5rem;
  margin-right: 2rem;
}
.icons-container .icons h3 {
  font-size: 1.5rem;
  line-height: 1;
  padding: 0 0 0.5rem 0;
  color: var(--grey1);
}
.icons-container .icons span {
  color: #555;
  font-size: 1.3rem;
}

.products .box-container {
  margin-top: 2rem;
  gap: 1.25rem;
  justify-content: center;
}
.products .box-container .box {
  flex: 1 1 30rem;
  max-width: 30rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  position: relative;
}
.products .box-container .box:hover .image .icons {
  bottom: 0;
}
.products .box-container .box .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.7rem 1rem;
  font-size: 2rem;
  color: var(--pink);
  background: rgba(255, 51, 153, 0.05);
  z-index: 1;
  border-radius: 0.5rem;
}
.products .box-container .box .image {
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}
.products .box-container .box .image img {
  height: 25rem;
  width: 100%;
}
.products .box-container .box .image img:hover {
  transform: scale(1.1);
}
.products .box-container .box .image .icons {
  position: absolute;
  bottom: -7rem;
  left: 0;
  right: 0;
  display: flex;
}
.products .box-container .box .image .icons a {
  font-size: 2rem;
  line-height: 5rem;
  padding: 0;
  width: 100%;
  background: var(--pink);
  color: #fff;
  height: 5rem;
}
.products .box-container .box .image .icons a:hover {
  background-color: var(--grey1);
}
.products .box-container .box .image .icons .cart-btn {
  border-left: 0.1rem solid rgba(255, 255, 255, 0.4666666667);
  border-right: 0.1rem solid rgba(255, 255, 255, 0.4666666667);
  width: 100%;
}
.products .box-container .box .content {
  padding: 2rem;
  text-align: center;
}
.products .box-container .box .content h3 {
  font-size: 2.5rem;
  color: var(--grey1);
}
.products .box-container .box .content .price {
  font-size: 2.5rem;
  color: var(--pink);
  font-weight: bolder;
}
.products .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #999;
  font-weight: lighter;
  padding-top: 1rem;
  text-decoration: line-through;
}

.review .box-container {
  justify-content: center;
  padding-top: 2rem;
}
.review .box-container .box {
  flex: 1 1 40rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  position: relative;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.review .box-container .box .bi-quote {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  font-size: 6rem;
  color: #999;
}
.review .box-container .box .user {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}
.review .box-container .box .user img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1rem;
}
.review .box-container .box .user h3 {
  font-size: 2rem;
  color: #333;
}
.review .box-container .box .user span {
  font-size: 1.5rem;
  color: #999;
}
.review .box-container .box .stars i {
  color: var(--pink);
  font-size: 2rem;
}
.review .box-container .box p {
  color: #999;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 2rem 0 0 0;
}

.contact .row {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1.5rem;
  padding-top: 2rem;
}
.contact .row form {
  flex: 1 1 40rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.contact .row form .box, .contact .row form textarea {
  font-size: 1.7rem;
  line-height: 1;
  padding: 1rem;
  color: #333;
  text-transform: none;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  resize: none;
  outline: none;
  width: 100%;
}
.contact .row form .box:focus, .contact .row form textarea:focus {
  border-color: var(--pink);
}
.contact .row .image {
  flex: 1 1 40rem;
}
.contact .row .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  padding: 2rem 9%;
}
footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
footer .box-container .box {
  flex: 1 1 25rem;
}
footer .box-container .box h3 {
  font-size: 2.5rem;
  line-height: 1;
  padding: 1rem 0;
}
footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  line-height: 1;
  padding: 1rem 0;
  color: var(--grey1);
}
footer .box-container .box a:hover {
  color: var(--pink);
  text-decoration: underline;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
  .products .box-container .box {
    max-width: none;
  }
}
@media (max-width: 768px) {
  html .fa-bars {
    display: block;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .home {
    background-position: left;
  }
  header #toggler:checked ~ .navbar {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: #fff;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: block;
  }
  .home .content h3 {
    font-size: 5rem;
  }
  .icons-container .icons h3 {
    font-size: 2rem;
  }
  .icons-container .icons span {
    font-size: 1.7rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
}/*# sourceMappingURL=main.css.map */